<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Remnant2SaveAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Remnant2SaveAnalyzer.Properties.Settings>
            <setting name="AutoBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BackupLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BackupKeep" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupName" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnalyzerFontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="treeMissingNormal_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalAmulet_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalArmor_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalEngram_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalMutator_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalMaterial_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalMod_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalRelic_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalRing_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalTrait_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalWeapon_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalQuest_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingHardcore_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingHardcoreAmulet_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingHardcoreRing_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingHardcoreWeapon_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingSurvival_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MissingItemColor" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="ShowPossibleItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GameFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="StartPage" serializeAs="String">
                <value>backups</value>
            </setting>
            <setting name="ShowCoopItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHideNaviAndTitleBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableOpacity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OnlyInactive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWard13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowConnections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWorldStones" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTomes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSimulacrums" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowShowLabyrinth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRootEarth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportDecoded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportJson" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLootedItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Wiki" serializeAs="String">
                <value>fextrawiki</value>
            </setting>
            <setting name="ShowDlc1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDlc2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowItemsWithNoPrerequisites" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportPerformance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportPlayerInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DumpAnalyzerJson" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootedItemColor" serializeAs="String">
                <value>Dim</value>
            </setting>
            <setting name="ReportParserWarnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugPrerequisites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Information</value>
            </setting>
        </Remnant2SaveAnalyzer.Properties.Settings>
    </userSettings>
</configuration>