<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemnantSaveGuardian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RemnantSaveGuardian.Properties.Settings>
            <setting name="AutoBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BackupLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BackupKeep" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupName" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnalyzerFontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="treeMissingNormal_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalAmulets_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalArmor_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalEngrams_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalGems_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalMaterials_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalMods_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalRelic_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalRings_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalTraits_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalWeapons_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingNormalQuests_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingHardcore_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingHardcoreAmulets_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingHardcoreRings_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingHardcoreWeapons_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="treeMissingSurvival_Expanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MissingItemColor" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="ShowPossibleItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GameFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="StartPage" serializeAs="String">
                <value>backups</value>
            </setting>
            <setting name="ShowCoopItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
        </RemnantSaveGuardian.Properties.Settings>
    </userSettings>
</configuration>